body{
    align-content: center;
    padding: auto;
    margin:auto;
}
.container {
	display: flex; 
    flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.btn{
    width:20rem;
    margin:auto;
    align-items: center;
    padding:auto;
}