/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
  color: #000;
}


.container {
  padding: 2rem;
}

.card {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.card-header {
  background: #333;
  color: #fff;
  padding: 1.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-group-item {
  background-color: transparent;
  border: none;
  color: #000;
}

.btn-primary:hover {
  background-color: #4C489D;
  color: #fff;
}

.btn-primary:focus {
  box-shadow: none;
}


/* Input Group */
.input-group {
  margin-bottom: 1.5rem;
}

.input-group .form-control {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  transition: border-color 0.3s;
}

.input-group .form-control:focus,
.input-group .form-control:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.row-cols-1 .col-md-4,
.row-cols-md-2 .col-md-4,
.row-cols-lg-3 .col-md-4 {
  max-width: 100%;
}

.btn-primary {
  background-color: #fff;
  color: #4C489D;
  border-color: #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 26px;
  padding: 10px 15px;
  margin:10px;
  transition: 0.2s;
}
