<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/adminBooks.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>

		<title>Books</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Library</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<!-- Navbar items -->
					</ul>
					<form action="/makeAdmin" method="GET" class="d-flex">
						<button type="submit" class="btn-primary btn me-2">
							Make New Admin
						</button>
					</form>
					<form action="/admin/requests" method="GET" class="d-flex">
						<button type="submit" class="btn-primary btn me-2">
							View Requests
						</button>
					</form>
					<form action="/logout" method="GET" class="d-flex">
						<button type="submit" class="btn-primary btn">Logout</button>
					</form>
				</div>
			</div>
		</nav>
		<div class="container">
			<h1 class="text-center mt-3 mb-3">Books in Library</h1>
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col"><h4>Available Books</h4></div>
						<div class="col text-end">
							<form action="/admin/addBook" method="GET">
								<button type="submit" class="btn-primary btn">
									Add New Book
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
						<div class="col-md-4 p-2 mb-4">
							{{range .}}
							<div class="card" style="width: 18rem">
								<div class="card-body">
									<h5 class="card-title">{{.Title}} </h5>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">Author: {{.Author}}</li>
									<li class="list-group-item">
										No. of copies: {{.Quantity}}
									</li>
								</ul>
								<div class="card-body">
									<form action="/addQty" method="POST">
										<div class="input-group mb-3">
											<input
												type="hidden"
												name="bookID"
												value={{.ID}}
												class="form-control"
											/>
											<input
												type="number"
												name="quantity"
												min="1"
												required
												class="form-control"
												placeholder="Enter Quantity"
												aria-label="Example text with button addon"
												aria-describedby="button-addon1"
											/>
											<button
												class="btn btn-outline-secondary"
												type="submit"
												id="button-addon1"
											>
												Add
											</button>
										</div>
									</form>
									<form action="/delete" method="POST">
										<div class="input-group mb-3">
											<input
												type="hidden"
												name="bookID"
												value={{.ID}}
												class="form-control"
											/>
											<input
												type="number"
												name="quantity"
												min="1"
												max={{.Quantity}}
												required
												class="form-control"
												placeholder="Enter Quantity"
												aria-label="Example text with button addon"
												aria-describedby="button-addon1"
											/>
											
											<button
												class="btn btn-outline-secondary"
												type="submit"
												id="button-addon1"
											>
												Delete
											</button>
										</div>
									</form>
								</div>
							</div>
							{{end}}
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
	</body>
</html>