<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Books</title>
    <style>
      .navbar {
        background-color: #333;
        color: #fff;
      }
      .navbar-brand {
        font-size: 1.5rem;
        font-weight: 700;
      }
    </style>
    <title>Profile</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-xl bg-body-tertiary bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Library</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <a type="submit" class="btn-primary btn mx-2" href="/client/books" >
              View Available Books
            </a>
          <form action="/logout" method="GET">
            <button type="submit" class="btn-primary btn mx-2">Log Out</button>
          </form>
        </div>
      </div>
    </nav>
    <h1 class="m-5">
      Hi!<br />
      Welcome to Library Portal
    </h1>
    <div class="card m-5">
      <div class="card-header">
        <div class="row">
          <div class="col"><h3>Books owned/requested by You</h3></div>
          <div class="col"></div>
        </div>
      </div>
      <div class="card-body m-2">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Book_name</th>
              <th>Status</th>
              <th>Type of Request</th>
              <th>Action</th>
            </tr>
            {{range .}}
            <tr>
              <td>{{.BookTitle}}</td>
              <td>{{.State}}</td>
              <td>{{.ReqType}}</td>
              {{if eq .State "requested"}}
              <td>
                <form action="/delReq" method="POST" id="delReq">
                  <input
                    type="hidden"
                    name="reqID"
                    class="form-control"
                    value={{.RequestID}}
                  />
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    id="withdrawreq"
                  >
                    Withdraw Request
                  </button>
                </form>
              </td>
              {{else}}
              <td>
                <form action="/retBook" method="POST" id="retBook">
                  <input
                    type="hidden"
                    name="reqID"
                    class="form-control"
                    value={{.RequestID}}
                  />
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    id="returnBook"
                  >
                    Request to Return
                  </button>
                </form>
              </td>
              {{end}}
            </tr>
            {{end}}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
