<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/home.css" />
		<title>Home Page</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Library</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
		<div class="container my-5">
			<div class="card" style="width: 22rem">
				<div class="card-body">
					<h4>Welcome to Library Portal</h4>
					<hr />
					<!-- <br />
					<div class="mb-3">
						<div>If you are an admin, Please Login Here Sir</div>
						<br />
						<a href="/adminLogin"
							><button class="btn btn-primary" type="button">
								Log In as Admin
							</button></a
						>
					</div>
					<hr /> -->
					<div class="mb-3">
						<div>If you are client/admin already, Login Here</div>
						<br />
						<a href="/login"
							><button class="btn btn-primary" type="button">
								Log In
							</button></a
						>
					</div>
					<hr />
					<div class="mb-3">
						<div>If you don't have an account, register here as a client</div>
						<br />
						<a href="/signup"
							><button class="btn btn-primary" type="button">Sign Up</button></a
						>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
		</body>
</html>
